.cart-item-sm{
  height: 200px;

    >img{
    margin-right:10px;
    }
    @media (max-width: 576px) {
      height: 400px;
      border:1px solid black;
      padding:10px 20px;
      width:max-content!important;
      margin:auto;
      min-width:65%;

      >img{
        margin:auto;
      }
    }

  }


.price-before-discount{
  position: absolute;
  top: 1px;
  left: 94px;
  font-size: 14px;
  transform: rotateZ(-27deg);
  color: red;
  font-style: italic;
  text-decoration: line-through;
  letter-spacing: 1px;
}

.applied-coupon-text{
  margin-bottom: -9px;
  font-size: 11px;
  margin-left: 3px;
  margin-top: 3px;
  color: red;
}