.nav_icon_container{
    align-items: center;
    >p{
        margin: 0;
        margin-right: 5px;
    }
}


.navbar-expand-sm .navbar-nav {

    @media (max-width: 576px){
    flex-direction: column-reverse;
    padding-top: 10px;
    > a{
        padding: 10px;
    }
}

}