.med-screen-padding{
  @media (min-width: 992px) and (max-width: 1200px){
    padding-left: 30px !important;
  }
}

@media (max-width: 300px) {
  .product-gallary-card{
    width: 100%;
  }
}



.price-before-discount-product{
  position: absolute;
  top: -12px;
  left: -18px;
  font-size: 14px;
  transform: rotateZ(-27deg);
  color: red;
  font-style: italic;
  text-decoration: line-through;
  letter-spacing: 1px;
  z-index: 100;
}


.product-gallary-card{
  > .image-gallery[aria-live]{
      width: 100%!important;
  }
  .image-gallery-slide[tabindex].center{
      display: flex!important;
      align-items: center!important;
    transition: all 450ms ease-out 0s,flex 1s cubic-bezier(1,-0.26, 1, 1.49)!important;
  }

  //.image-gallery-slide[tabindex] .image-gallery-image{
  //  transform: translateY(50%) !important;
  //}
}